node_modules/
npm-debug.log*
yarn-error.log*

# OS / User junk
.DS_Store
Thumbs.db

# User / system folders (this is what caused 10k files)
.config/
.local/
.zsh_sessions/
Library/
Android/

# Env
.env
.env.*